[2015-11-11 07:50] akiko-pusu opened #2 "TODO"
- [x] add test with drone.
- [x] add simple test code.

[2015-11-13 11:18] marilawang opened #3 "suggestion of applying to all users"
Hi,
I've tried this awesome plugin, thanks!

But I really need that all users to turn on this feature, not manually set by each user their own.

[2015-11-13 11:23] marilawang opened #4 "CSS bug"
#issue_badge a, a:link, a:visited {
...
}

should be:

#issue_badge a, #issue_badge a:link, #issue_badge a:visited {
...
}

[2015-11-13 12:09] marilawang opened #5 "JS bug"
this line:
[code]
somehow cause an error in jQuery,

it should be write like this:

[code]

[2015-11-13 23:17] akiko-pusu commented on #5
Hi, @marilawang
Thank you for your reporting this issue and trying to use my small plugin!

I've just confirmed this error like this:
![issue5-js-error](https://cloud.githubusercontent.com/assets/122621/11159976/f9042564-8aa7-11e5-9446-661c36b53dc7.jpg)

And I'm going to apply your code soon. Thanks again!

[2015-11-15 17:18] akiko-pusu commented on #2
あまりよくわかっていないのですが、FactoryGirls用の設定とRSpec用の設定を追加。
これからe2eもできるようにしたい...。
ひとまず準備完了。

[2015-11-15 17:18] #2 closed

[2015-11-15 17:20] akiko-pusu commented on #4
Hi, @marilawang .
Thank you so much above fixed code!
I've applied and merge into master branch.

[2015-11-15 17:20] #4 closed

[2015-11-15 17:21] akiko-pusu commented on #5
@marilawang , I also merged above into master branch.
Thank you so much for your support!

[2015-11-15 17:21] #5 closed

[2015-11-15 17:37] akiko-pusu commented on #3
Thank you so much for your request.
The reason why this plugin is enabled by each user own is that I hope to prevent performance reducing.
If the site has many active users,  their settings will have any performance effect on the server.

But, there's reason in what you point out :)
Please wait for a while.
My plan is following:

- Default, admin can switch the option to use this or not.
 - If tu

[2015-11-23 17:30] rogerjak opened #13 "Redmine not at root"
Great plugin, but when you don't have Redmine installed at root, some of the links are wrong.

[2015-11-23 23:51] akiko-pusu commented on #13
Hi, @rogerjak .
Thank you so much for your bug report.
I'll confirm and fix this as soon as possible!

[2015-11-27 00:47] akiko-pusu commented on #13
Hi, @rogerjak
I found the dead link to all my issues filter, and fixed it.
Now, plugin is version 0.0.2 and could you please try the latest version.

[2015-11-27 00:47] #13 closed

[2016-03-04 23:07] acki commented on #3
That would be nice!

[2016-03-20 08:46] akiko-pusu opened #17 "Display badge in responsive design (on small screen)"
Badge is not shown because this plugin’s CSS does not support media query.

[2016-04-21 07:29] nachoan opened #18 "issue_badge"
Hi,

Thanks for the plugin.

We have some problem on screen with the box containing issues. Is it easy to fix?

I think the problem with the label
div id="issue_badge"

![seleccion_384](https://cloud.githubusercontent.com/assets/8542490/14700899/91bc7578-07a2-11e6-804f-c13602d31de8.png)

[2016-05-03 04:53] akiko-pusu commented on #18
@nachoan , thank you for reporting issue.
I hope to fix this problem,  so that could you please tell me your Redmine's theme if you use non builtin theme.

[2016-05-15 01:54] archonwang commented on #3
+1

[2016-06-27 15:17] nachoan commented on #18
We are using Abacus Theme http://www.abacusthemes.com/en/
Do you think I must send a message to the author?

[2016-06-27 15:17] #18 closed

[2016-06-27 23:37] akiko-pusu commented on #18
@nachoan , thanks for your additional information.

I don’t think so. First, I’ll try to apply above theme.

[2016-06-28 01:24] Enkil commented on #3
+1

[2016-07-08 12:38] akiko-pusu commented on #17
Implemented version 0.0.3.

[2016-07-08 12:38] #17 closed

[2016-07-08 12:42] akiko-pusu commented on #3
Hi, @marilawang
Thank you for your request. I’ve add this feature in ver 0.0.3.
If you have time, please try and give feedback.

[2016-07-08 12:42] #3 closed

[2017-01-14 23:30] akiko-pusu opened #23 "Failed in case change setting into false. (on Redmine3.3.1 or later)"
Related: https://redmine.org/projects/redmine/repository/revisions/15729/diff/trunk/app/controllers/settings_controller.rb

If unchecked checkbox and submit, settings[activate_for_all_users] is not passed.
After Redmine 3.3.1, in case parameter for settings is empty,  error will occur.
[code]

[code]

[2017-01-14 23:35] akiko-pusu opened #24 "Remove selenium-webdriver from plugin's Gemfile."
Now Redmine itself use selenium-webdriver with version 2, so need to modify plugin's Gemfile to prevent error.
Related: https://redmine.org/projects/redmine/repository/revisions/15915/diff/trunk/Gemfile

[2017-01-15 09:26] #24 closed

[2017-01-15 09:26] #23 closed

[2017-01-20 18:41] juxta73 opened #28 "migrate error"
Hello!

I have problem with migrate. Error log

root@66300:/var/www/redmine# rake redmine:plugins:migrate NAME=redmine_issue_badge RAILS_ENV=production
/usr/local/rvm/gems/ruby-2.3.3/gems/htmlentities-4.3.1/lib/htmlentities/mappings/expanded.rb:465: warning: key "inodot" is duplicated and overwritten on line 466
rake aborted!
NoMethodError: undefined method `safe_attributes' for #<Class:0x00000004

[2017-01-21 01:43] akiko-pusu commented on #28
@juxta73
Thank you so much for your reporting issue and I’m sorry to trouble you.
Which version  is your redmine issue badge, 0.0.3 or 0.0.4?
Because I’ve just updated this plugin to 0.0.4 yesterday.

[2017-01-21 02:09] akiko-pusu commented on #28
@juxta73, I’ve just found the reason for this problem, so please wait for a while till fix it.
If you could apply quick workaround, please comment out redmine_issue_badge/lib/issue_badge/user_preference_patch.rb:4, safe_attributes :issue_badge line.

[code]

[2017-01-21 06:28] akiko-pusu commented on #28
Sorry, I’ve just fixed it. Please try v0.0.4.1.

[2017-01-21 11:19] juxta73 commented on #28
now works great with migrate! thank you so much, @akiko-pusu

[2017-01-22 00:50] #28 closed

[2017-02-22 13:58] pousterlus opened #32 "Disable uppercase text in issue list + special characters"
Hello !

Great work, I love this plugin.
But just 2 details I would love to change but can't find anywhere to change it :
- In issue list, text is forced uppercase : how to change that ?
- In issue list, special characters seems to be shown with their HTML code, for example : "111 Add a new fied named & quot;adminaccess& quot;" : is it possible to have the " sign not being replaced by "& quot;" ?

[2017-02-22 14:08] pousterlus commented on #32
Hi again,

Sorry, the uppercase was part of another CSS file, I fixed it.
I'm still stuck with the special characters detail...

--
Léo.

[2017-02-23 10:39] akiko-pusu commented on #32
Thanks for your feedback and issue report!
I’ll fix it as soon. And feel free to send me your suggestions!

[2017-03-01 13:10] pousterlus commented on #32
You're welcome :)
You did a great job with this plugin, everyone in my company loves it !

Thanks for acknowledging the issue, please note that's not urgent !
I have some suggestions to improve it, I'll open new issues on github soon :)

Regards,

--
Léo.

[2017-03-03 02:31] nakat-t opened #36 "Cannot change user password when "Display badge for all users" is ON"
Procedure:
1. Turn on "Display badge for all users"
2. Create new user as "Must change password at next logon"
3. Login as new user => redirect to change password screen
4. Screen elements are duplicated and increased every 1 second.

Perhaps, It is a problem that load_badge('/issue_badge') was called but redirected to '/my/password'.

[code]

[2017-03-04 02:04] akiko-pusu commented on #36
Hi, @nakat-t
Thank you so much for your reporting this problem, any information is highly appreciated.
I’m going to review and fix soon.

[2017-03-04 08:44] akiko-pusu commented on #36
@nakat-t
I could reproduce above situation, and thank you so much your information again.
As you supposed, this is because ajax request to issue badge controller is blocked and redirected in case user is required password change, due to application controller.

Here is a quick workaround:

1. Prevent to render contend in case ajax request is redirected and not include issue badge template.

[code]

[2017-03-04 15:55] akiko-pusu commented on #36
I’ve applied bug fix into master branch. Thank you so much!

[2017-03-05 00:15] nakat-t commented on #36
I verified that it was fixed in master. Thank you very much for your work.

[2017-03-05 06:50] #36 closed

[2017-03-06 22:33] akiko-pusu commented on #32
I’ve merged workaround into master. If you have time, please confirm issue is fixed.
Also I’m going to ready to release bug fixed version, soon.

[2017-03-07 09:20] pousterlus commented on #32
Hi there !
Thank you for giving some of your time to the community :)
I confirm your patch is working as expected.

ありがとう ございます

:)

Regards,

--
Léo.

[2017-03-07 09:20] #32 closed

[2017-03-07 12:34] pousterlus opened #41 "Improvement : Issues from the group and not only mines"
Hi there :)

As promised, I've got another feedback for improving your plugin efficiency.
As now, the plugin's working great, and I see my issues.
But I'm also a member of a group : Could it be possible to have an option to also show in the same list the issues assigned to the group ?

Would be great !

--
Léo.

[2017-03-08 15:21] pousterlus opened #43 "Improvement : Auto-refresh"
Hi again,

This plutin is already very good, but I've just had an idea about a feature : Would it be possible to auto-refresh the number in the badge without refreshing the page manually ? With AJAX or something ?

Would be great to have a real realtime counter.
Maybe that's too hard to do though...

--
Léo.

[2017-03-08 21:00] akiko-pusu commented on #41
Hi, thanks for this request.
Now issue badge return the number of issues which assigned to user and his/her group.

https://github.com/akiko-pusu/redmine_issue_badge/blob/master/app/controllers/issue_badge_controller.rb#L10

If number of assigned issues are less than 6, the issue assigned to group will be shown, but if have more than 6,
Do you hope issues should be listed separately?
E.g.  List of

[2017-03-08 22:21] akiko-pusu commented on #43
Hi, I understand your request above, well :)
But I also don’t want to give some negative impact on performance in case so many users use the same Redmine, because I’ve worked as Redmine administrator for a long time.

Implementation to auto refresh is not so difficult, but handling in case user session is time outed, network error, prevent ajax polling made performance impact are rather difficult

[2017-03-08 23:18] pousterlus commented on #41
Hi Akiko,

Wow, that was quick. You're fast ! :)
It's night in Paris right now, so I can't test it immediately, but you asked a really important question : with my request, "group issues" can hide "individual issues".

You probably have the best idea : Show group issues only if there is not much individual issues.

I think, if it's possible, you have to give the user the opportunity to trigger the

[2017-03-08 23:29] pousterlus commented on #43
Hi again,

You're right (again !), I wasn't thinking about the performance impact : it's very important to prevent your plugin from slowing down the whole server or raising errors.

I understand that in case user session timeouts, or network errors, something has to be made to avoid ajax polling for nothing.
And I agree : If that option has to be released one day, an option for the administrator t

[2017-03-09 16:37] akiko-pusu commented on #43
Hi, if you are interested in evaluating this feature, please see commit: 852e7dc.
Or you can try this branch: feature-43-auto-refresh-badge-counter

[2017-03-13 17:00] akiko-pusu commented on #41
Hi, I’ve just released v0.0.5, including this feature.
You can see additional option "Include issue numbers assigned to group” on user preference.
Also, add css to classify issue assigned to user or assigned to group, like this:

![issue_list](https://cloud.githubusercontent.com/assets/122621/23865735/fa7301a0-0859-11e7-9f07-9d18e09c1a96.png)

This release is even as a prototype, so please send fe

[2017-03-13 17:00] #41 closed

[2017-03-13 17:02] akiko-pusu commented on #43
Hi, I’ve just released v0.0.5, including this feature.
Polling option is added and you can activate this option from plugin’s setting screen.
By default, this option is disabled and administrator can disabled in case any performance issue.

Also v0.0.5 is even as prototype, so feel free to feedback!

[2017-03-13 17:02] #43 closed

[2017-03-23 22:56] akiko-pusu opened #49 "Badge is not working for user created from LDAP user."
Reported: http://www.redmine.org/boards/3/topics/52408?r=52456#message-52456
This is because User#change_password_allowed? method return false in case auth_source_id.present?

[2017-03-25 07:18] #49 closed

[2017-04-17 11:50] yusami commented on #49
Akiko-san,

Thank you for releasing the great plugin.
This change b7cc882 enables my Redmine to show the badge finally,
which is installed by Bitnami. I am waiting for the next release with this fix.

[2017-04-17 22:23] akiko-pusu commented on #49
@yusami Thanks for your interest in my plugins. Commit b7cc882 is already merged into master.
And I’ve just released v0.0.6, including this bug fix.

This release, v0.0.6 is intended to this fix bugs, so that there is no big additional feature.
Only additional feature is https://github.com/akiko-pusu/redmine_issue_badge/pull/52.
I wonder if this feature will be accepted or not by everyone.
Feel fr

[2017-04-21 23:51] yusami commented on #49
@akiko-pusu Thank you for releasing v0.0.6. It works fine for me. #52 is also good by showing the cool icon.

[2017-05-03 13:59] kay54068 opened #56 "UI error"
UI overlapping:

![image](https://cloud.githubusercontent.com/assets/3054544/25663657/d8ff2936-304a-11e7-83d8-bda47310474c.png)

[2017-05-03 16:29] akiko-pusu commented on #56
Hi, @kay54068
Thanks for using this plugin.
Could you please tell me the version of this badge plugin and theme that you use?

[2017-05-26 12:32] kay54068 commented on #56
I use the 0.0.6 have UI overlapping but 0.0.5 is not.

information:

Environment:
  Redmine version                3.3.2.stable.16379
  Ruby version                   2.2.6-p396 (2016-11-15) [x86_64-linux]
  Rails version                  4.2.7.1
  Environment                    production
  Database adapter               Mysql2
SCM:
  Subversion                     1.9.3
  Git

[2017-05-27 08:17] akiko-pusu commented on #56
Thanks.  And what theme do you use?

[2017-05-28 00:06] akiko-pusu commented on #56
@kay54068

CSS was changed from v0.0.5 to v0.0.6, and you can review what parts changed at this PR:
https://github.com/akiko-pusu/redmine_issue_badge/pull/52

I personally think your problem will be solved with **clearing your cache** , including css.

Could you please check if these lines are included or not at  http://YOUR_REDMINE_DOMAIN/plugin_assets/redmine_issue_badge/stylesheets/style.css,

[2017-06-03 07:38] akiko-pusu opened #57 "remove sourcemap"

[2017-06-05 23:38] #57 closed

[2017-06-28 19:11] bviktor opened #60 "Cannot install on CentOS 7.3 with Redmine 3.3.3"
Here's the error message I'm getting:

[code]

Please let me know if you need any more info. Thanks in advance.

[2017-06-28 19:19] bviktor commented on #60
Fails with (soon-to-be-released) 3.4.0 too:

[code]

[2017-06-28 19:43] bviktor commented on #60
Okay, this is actually solved I believe. This was the hint:

https://github.com/alexreisner/geocoder/issues/1066

Also I have to put `gem "rspec"` into Redmine's `Gemfile.local` - I don't know how this can be achieved via the plugin's files. Will send a pull request soon.

[2017-06-28 20:52] bviktor opened #62 "Improve readability"
A picture is worth a thousand words. This is what it looks like with default theme:

![image](https://user-images.githubusercontent.com/5798552/27658702-2426a682-5c51-11e7-891b-5016d3a3249e.png)

This is alternate:

![image](https://user-images.githubusercontent.com/5798552/27658823-9c90d638-5c51-11e7-88c3-5b8e9d9e9775.png)

Classic:

![image](https://user-images.githubusercontent.com/5798552/2765

[2017-06-28 21:04] bviktor opened #63 "Configurable issue number"
What do you guys think about making the number of issues displayed from the badge configurable as a user setting? 5 seems a pretty low number for 1080p+ displays.

[2017-06-28 21:57] akiko-pusu commented on #60
Hi, @bviktor
Thanks for your issue report and pull request.
As following, support for Ruby 1.9.3, 2.0 and 2.1 has ended by Ruby community.
http://www.redmine.org/projects/redmine/wiki/RedmineInstall#Requirements

Unless there is some particular reason, I hope to not to change. So, please let me know the version of ruby you use?  1.9 or 2.1?

Also Gemfile.local is required only for the testing (spe

[2017-06-28 22:02] bviktor commented on #60
Hi @akiko-pusu yes I know Ruby 2 is EOL'd but even the latest CentOS/RHEL still ships that. All our servers run CentOS :)

[code]

This is CentOS 7.3.

Thanks a lot for omitting those errors!

[2017-06-28 22:10] akiko-pusu commented on #62
Thanks for your feedback.
But I can not imagine what color that everyone likes....
In case normal (PC) screen, badge color is based on red, on the other hands, responsive mode is based on green.
* Ref. http://www.redmine.org/plugins/redmine_issue_badge

As one solution, you can customize your CSS with using View Customize plugin.
This plugin is quite helpful if you want to change CSS / JavsScript

[2017-06-28 22:38] bviktor commented on #62
Yeah, it's a tricky one, there's no "one size fits all" solution to visual stuff. This particularly applies to this case foz you can use custom themes in Redmine...

I like the idea of exposing some CSS attributes on the plugin's settings screen in administration. Would `font-size`, `color` and `background-color` be acceptable for you?

[2017-06-29 12:59] akiko-pusu commented on #63
I personally think 5 issues are enough at popup. Because if user has assigned issues more than 5 and user hopes to show all the issues, user can display his "my page” or “assigned issues” screen.
(Like Facebook Notification)

[2017-06-29 14:22] #60 closed

[2017-06-29 14:24] akiko-pusu commented on #60
Commit: 	630a474 was merged into master. Thanks for your help!

[2017-06-29 14:37] bviktor commented on #60
Thanks a lot !

[2017-06-29 23:15] akiko-pusu commented on #62
@bviktor
Thanks again. Usually I check the style with Chrome, but it seems Chrome is not respecting rem / em font size. So that I could not find the badge font size was too small and hard to read except Chrome.
(Sorry I confirmed the situation with using Safari and Firefox.)

Now I fix css to follow its font-size with Redmine’s header, on commit: 	9a6ac40.
Thanks your pointed out!

On the other ha

[2017-06-30 00:42] #62 closed

[2017-07-03 15:06] bviktor commented on #62
Thanks a lot, indeed it got much better!

[2017-07-06 03:12] Jiangshan00001 opened #67 "is it possible to custom the badge?"
This plugin is great and i love it.
I just want to know that if it is possible to custom the badge.
1. the badge display some issue, according to a custom query, instead of the fixed query. and the comment that what it is is set by user.
2. the badge number could be set by administrator.

then i could add a badge with assigned issue, or created issue, or watched issue, or 1-month updated issue and

[2017-07-06 05:36] Jiangshan00001 commented on #67
alternatively, could i add some more badge:
1 issues that i created and in finish status
2 issues that i watched and not in close status
any suggestion that how to change the code manually is helpful.
thanks.

[2017-07-06 20:58] akiko-pusu commented on #67
👀

[2017-07-08 05:23] akiko-pusu commented on #63
Related: #67

[2017-07-08 08:22] Jiangshan00001 commented on #67
I have add a patch for add some more badge.
maybe someone need it.

[2018-01-11 06:50] annguyenthienit opened #81 "Show issues in project was closed long time ago"
Dear Author,

- Currently, your plugin show issues were closed a long time ago. Can you fix it? Thank you so much!

[2018-01-11 08:23] akiko-pusu commented on #81
Hi, @annguyenthienit, thanks for reporting issue.
But I'm sorry I can't figure out this clearly. Could you explain it in more detail?

[2018-01-11 08:43] annguyenthienit commented on #81
Thanks for your quick reply.
For example as below:
Project1 was closed (Status is closed). Some tickets on it assigns to me.
Project2 is opening (Status is open). Some tickets on it assigns to me.

When I added your plugin. I saw list ticket from Project1 and Project2. But, I only want to see ticket on Project2.

[2018-01-11 10:44] akiko-pusu commented on #81
Ok, I understood.  I’m going to confirm this situation and to make some workaround.
Thanks for your feedback.

[2018-01-11 11:24] annguyenthienit commented on #81
:) Thank you so much! If I archive this project. We will not see this project on the notification list.
Besides, I think you need to create more option how many tickets will show. Currently, we only see 5 tickets.

[2018-03-29 11:55] pielat opened #82 "Reverse order when clicking badge"
Hello,
Currently when I click on badge I see 5 very old tasks in my Redmine. I think it will be more useful when I would see 5 newest tasks. It would be more like Facebook notifications :)
Do you think it's good idea to implement this?

[2018-10-27 06:34] nguyenquangvinh commented on #82
Yes, it is. I already made some small modified at line 37 of file app/controllers/issue_badge_controller.rb. Changed to this:
Issue.visible.open.where(assigned_to_id: condition).order(updated_on: :desc)

So, the list now shows in order of newest issues first. Hope it help

[2018-10-27 10:17] akiko-pusu commented on #82
@pielat @nguyenquangvinh
Thanks for using my plugin and feedback. It's acceptable so try to implement this :)

[2019-01-29 16:45] bviktor opened #91 "Breaks with Redmine 4"
The plugin won't work with Redmine 4:

[code]

Apparently this method was deprecated with Rails 5.1, and Redmine 4 uses 5.2.2 (up from 4.2.8 in Redmine 3.4.6).

[2019-02-06 13:33] kenji21 commented on #91
Just sent PR https://github.com/akiko-pusu/redmine_issue_badge/pull/92

[2019-02-17 06:46] akiko-pusu commented on #91
@kenji21 Thanks for PR #92
I’ll apply above pull request against to Redmine4.x branch.
Please wait for a while!

[2019-05-09 22:37] akiko-pusu commented on #82
@pielat @nguyenquangvinh
Thanks for your feedback.
I've just released v0.0.7 included this feature.
If you still use Redmine 3.x, please try v0.0.7.
If you already migrated Redmine to Redmine4.x, v0.0.7 will be failed at the lugin migration task.
I'm going to release next version to support Redmine4.x soon.

[2019-05-09 22:37] #82 closed

[2019-07-08 10:25] akiko-pusu commented on #91
@bviktor @kenji21
Sorry for my delayed action to update this plugin.
Now development branch is ready for Redmine4.x and I'm going to release it soon.

[2019-07-08 11:10] akiko-pusu commented on #81
Hi,  I applied this feature on v0.7.0.
Now exclude archived project's issues :)

Rref. https://github.com/akiko-pusu/redmine_issue_badge/commit/f8470cc4bc8db6bffcea23b1b0d9c81a37a7b24c#diff-c2a2bcb6ebf56c7cbbcce8d2d85e9eb2R38

[2019-07-08 11:10] #81 closed

[2019-07-08 23:29] akiko-pusu commented on #91
New verson 0.1.0 has been released. If you have some Redmine4 which is clean installed, please try.

[2019-07-08 23:30] #56 closed

[2019-07-09 23:35] #91 closed

[2019-07-11 11:58] tanertas opened #96 "Can't enable "Include issue numbers assigned to group""
I want to get notified about all issues including groups that I'm being member of. But this checkbox in account settings is clickable but it remains unchecked.

[2019-07-23 08:58] Henderxx opened #97 "can't enable badge for one user but works when enabled for all"
Hello i've just installed aand i got little error, i've tried to enable plugin for some users but the checkbox will drop selection as i save settings and still be unchecked. But when i enabled plugin in plugin settings for all users it just works with standard options therefore i cannot change any setting again in my profile page
I'm using
 Redmine version                4.0.1.stable
  Ruby versio

[2019-07-25 13:18] akiko-pusu commented on #97
Hi, thanks for trying this plugin and reporting issue.
Could you please give me the plugin's version?

[2019-07-25 13:19] akiko-pusu commented on #96
Hi, @tanertas. Thanks for reporting issue.
Could you please tell me the version of Redmine and this plugin?

[2019-07-25 19:50] Henderxx commented on #97
Hi it is v0.1.0, latest from here

[2019-07-25 20:29] tanertas commented on #96
Ah, sorry. Redmine version is 4.0.4. I noticed that this problem is not specifically related with enabling groups. When I globally disable redmine_issue_badge for users, users can't enable it from their account settings. Enabling it from personal settings doesn't have any affect.

[2019-07-25 22:26] akiko-pusu commented on #97
@Henderxx Thanks for this information. I'll check it.

[2019-07-27 13:35] akiko-pusu commented on #97
Could you please tell me if you use any other plugins?
Related: #96

[2019-07-27 13:35] akiko-pusu commented on #96
I could not reproduce this situation.
Could you please tell me if you use any other plugins?

[2019-07-28 14:38] tanertas commented on #96
Maybe related with db engine? I use PostgreSQL.
I use these plugins:
issue_closer, lightbox2, checklist, auto_assign_group, editauthor

[2019-07-28 22:04] akiko-pusu commented on #96
Ok, thanks for the above information.
DB information is valuable for me.

[2019-07-29 06:21] Henderxx commented on #97
Sure, i have few other plugins and all is using Mysql database
Redmine plugins:
  additionals                    2.0.18
  redmine_ckeditor               1.2.2
  redmine_issue_badge            0.1.0
  redmine_lightbox2              0.5.0
  redmine_per_project_formatting 0.1.0
  redmine_theme_changer          0.4.0

[2019-08-03 07:48] akiko-pusu commented on #96
@tanertas I could not reproduce the situation.
Are there any plugin that extend user profile like this issue badge plugin?

[2019-08-03 07:49] akiko-pusu commented on #97
Sorry I could not reproduce this problem.
Are there any plugin that extend user profile like this issue badge plugin?

[2019-08-03 09:10] tanertas commented on #96
No, only issue badge plugin has special field.

[2019-08-03 11:59] akiko-pusu commented on #96
Thanks for above comment.
Which browser do you use? (Does this problem occur in any browser?)

[2019-08-03 12:41] akiko-pusu commented on #96
FYI: Here is the DDL for issue_badge_user_settings table. (PostgreSQL)
Is there any difference?

[code]

[2019-08-04 15:29] Henderxx commented on #97
there is one, it's theme changer. it adds one option in users profile, allowing them to change how redmine looks. I'll try tomorrow in new installation of redmine with only issue badge plugin enabled if error exists. If you want some logs i can give them

[2019-08-06 10:31] tanertas commented on #96
It looks correct:
[code]

[2019-08-06 10:46] Henderxx commented on #97
Ok i did some test, i've installed redmine with bitnami on virtual windows machine, then added plugin and make bundle install and rake commands. All installed, then i tried to enable plugin for my admin account effect was the same, option checked but when i pressed save all is gone to defaults and unchecked. I tried it on firefox and then on chrome on both same results.

[2019-08-07 12:19] akiko-pusu commented on #96
Thanks for above info!

[2019-08-13 09:16] mrniemand commented on #97
same problem here. I have no user profile extension plugin installed.
Plugins installed:
Redmine Auto Done
Redmine Issue Badge plugin
Redmine Lightbox 2

[2019-08-14 10:31] akiko-pusu commented on #97
@mrniemand Thanks for additional information. It's variable for me.
Could you tell me what is the database engine you use?
Redmine's version, and your OS platform info is welcomed, as possible as you can.

[2019-08-14 10:51] mrniemand commented on #97
Database: Mysql 5.5
Redmine:  4.0.4.stable
Ruby version                   2.5.5-p157 (2019-03-15) [i386-mingw32]
Rails version                  5.2.3
Environment                    production
Database adapter               Mysql2

OS is Win7 32bit, redmine is installed manually. All users have been created before i installed the plugin.

[2019-08-15 12:09] akiko-pusu commented on #97
@mrniemand @Henderxx
Could you tell me which browser you use?
Does this defect happen with all the browsers? (Such as IE, Safari, Firefox)
Or only a specific browser?

And if you checked “Enabled” on user’s preference page, the request parameter is sent like this.

<img width="700" alt="badge-enabled" src="https://user-images.githubusercontent.com/122621/63093596-da522580-bfa0-11e9-8c1e-7f19b8d38c

[2019-08-18 15:02] Henderxx commented on #97
i've tried it on chrome and firefox, both had same issue. I'll try tomorrow on opera and maybe some others. Can you tell me is this plugin using some date and time format when request is send? i have seen some similiar problems on other few programs when date and time format where with different separators. my format is rrrr-MM-dd for short time format and d MMMM rrrr for long format

[2019-08-19 06:07] mrniemand commented on #97
i used Internet Explorer.
In my database there is no entry for the user. When I add it manually i can change configuration there.

Still after adding the line manual no change within the redmine ui is stored there.

Redmine Log is correct and shows the new config:
arted POST "/my/account" for 10.100.134.93 at 2019-08-19 08:04:45 +0200
Processing by MyController#account as HTML
  Parameters: {"utf8

[2019-08-19 09:05] Henderxx commented on #97
I got something like this. On Firefox request looks like this
![obraz](https://user-images.githubusercontent.com/46646181/63251550-41582e80-c26e-11e9-8030-29b46ae543fb.png)

and production.log shows

`Processing by MyController#account as HTML
  Parameters: {"utf8"=>"✓", "authenticity_token"=>"EG5MfFM7giZ/8CDutRIdh+Bv6uVaFaNI7/J0h3gk8TT+LBQE1jNOVsCc5VXwEMGo3J4xdhqnz32xSgUVleqRUg==", "user"=>{"firs

[2019-08-19 12:02] mrniemand commented on #97
i also get an HTTP Result 302.

[2019-08-21 06:06] akiko-pusu commented on #97
@mrniemand @Henderxx Thanks a lot!!

[2019-08-22 05:21] akiko-pusu commented on #97
@mrniemand @Henderxx
Hi, could you please try this patch if you can?

[code]

※ v0.1.x (Support Redmine3.x) was applied this workaround to prevent some conflict or unloaded issue. But I’m sorry I have not much experiences about Redmine4.x which running various environment, rails application server and so on.
So your information is quite helpful.

If above is effective, I’m going to apply soon.

--

[2019-08-28 06:05] akiko-pusu commented on #96
Related issue #97
Could you try this patch if possible?
https://github.com/akiko-pusu/redmine_issue_badge/issues/97#issuecomment-523752443

[2019-08-28 09:20] tanertas commented on #97
Don't test this patch on production installation!
I tested the patch. Unfortunately it didn't work on my installation. I can't save settings and enable plugin on user settings.
'''
I tried to remove and then reinstall the plugin. After I removed the plugin redmine got "Internal Error" and stoppped working. Here is the error log:

ActionView::Template::Error (PG::UndefinedTable: ERROR:  relation "i

[2019-08-28 09:33] tanertas commented on #97
The error above was related the plugin folder. I removed the plugin's folder after uninstall, then "Internal Error" gone.
Re-installing the patched plugin didn't solve the problem either.

[2019-08-28 22:24] akiko-pusu commented on #97
Hi, @tanertas

Are you also remove the plugin folder from REDMINE_ROOT/plugins?
And restart Redmine?

[2019-08-28 23:58] akiko-pusu commented on #97
Hi, @tanertas @mrniemand @Henderxx
Could you please confirm the Request method when updating your account (use preference) including IssueBadge setting?

Following this code, updating IssueBadgeUserSetting is done when request method is “PUT”.

https://github.com/akiko-pusu/redmine_issue_badge/blob/6ce59f10487c15512460a3dd301bd4f8181f4db6/lib/issue_badge/my_controller_patch.rb#L10

The log I provi

[2019-08-29 06:18] Henderxx commented on #97
Hi, @akiko-pusu  i'm back from short offline. I'll do test in this week with patch. But for quick test i did change in

And this one did the trick for me

`Processing by MyController#account as HTML
  Parameters: {"utf8"=>"✓", "authenticity_token"=>"HpVA==", "user"=>{"firstname"=>"Łukasz", "lastname"=>"xxx", "mail"=>"xxx", "language"=>"pl", "mail_notification"=>"only_my_events", "notified_project_

[2019-08-30 01:11] akiko-pusu commented on #97
@Henderxx Thanks for your cooperation.

If you could, please try this patch.
I hope to confirm if the patch is recognized correctly via logging.

[code]

When get my account:

When update my account:

[2019-09-01 21:42] tanertas commented on #97
This also worked for me. Thanks.

[2019-09-02 09:17] Henderxx commented on #97
I got some troubles with applying this changes as patch for plugin. it was my first one :) and hey everyday we learn something new. First i got some problem with searching file

![obraz](https://user-images.githubusercontent.com/46646181/64103175-e5170380-cd71-11e9-8229-0fb8b2227f90.png)

But i managed to do it. I deleted two "end's" from last two lines and then was something like success and file

[2019-09-03 12:16] akiko-pusu commented on #97
@tanertas Thanks for your trying and telling your situation!
I could find one of the reason for this problem.

@Henderxx
Are you still having the trouble? Badge setting at user’s preference page works correctly or not?

It seems you use BitNami Redmine and Apache as web server. This is also an important information for me :)

[2019-09-04 06:08] Henderxx commented on #97
@akiko-pusu
No, i don't see problem for now, every setting is saved correctly. and yes i forgot to tell about apache :)

[2019-09-07 15:43] akiko-pusu commented on #97
Workaround is merged into master on commit: 59bd9f3.
Please try and confirm how it works.

[2019-09-07 15:44] akiko-pusu commented on #96
Workaround is merged into master on commit: 59bd9f3.
Please try and confirm how it works.

[2019-09-09 06:52] #96 closed

[2019-09-09 06:53] #97 closed

[2019-09-09 17:02] tanertas commented on #97
I tested with latest master( 60ddcd42eb10123f2870f579c1c892818933e548) but i didn't work for me.

[2019-09-19 03:48] vongola12324 opened #106 "Can not save user setting of issue badge"
Hi,

I just installed this plugin (version 0.1.1) on redmine 4.0.4. I can not save any setting that belongs to issue badge.
Here are the gif that recorded the action what I did.
![can not save setting](https://user-images.githubusercontent.com/5770715/65211811-9c31af80-dad2-11e9-8a44-cfa270180e57.gif)

Other setting in this page can be save correctly, also the settings in admin panel could be save

[2019-09-23 20:17] koren85 opened #107 "Custom Query"
Hello!
It would be great to be able to use a custom query instead of a predefined one. What do you think?

[2019-09-24 10:54] akiko-pusu commented on #107
@koren85 Thanks for trying and using my plugin!

It's interesting. Could you please give me more information about your hope?
For example, the current version of this plugin, displayed budge number is the number of issues that the user is assigned.
If we use the custom query, what is the number to be displayed?

[2019-09-24 11:00] akiko-pusu commented on #106
@vongola12324 Thanks for your reporting issue.
Please wait for a while to confirm the situation. Maybe this issue is related to #97

Could you please give me some logs like this?

https://github.com/akiko-pusu/redmine_issue_badge/issues/97#issuecomment-526041327

[2019-09-26 19:52] koren85 commented on #107
Yes of course.
Consider an example where the user should not pay attention to all the tasks that are assigned to him, but selected by a specific filter. For example, all tasks assigned to me in the "New" status, with an update date of at least one day.
By configuring the plug-in with custom filters, we can widely adapt it to work processes in my organization. It was great to see this soon.

[2019-09-27 07:50] vongola12324 commented on #106
Sure, here are the logs.
[code]

I have changed some information, like IP,token, and email, into "[REMOVED]".

[2019-10-10 00:14] rafaelmartinsrm opened #108 "Badge color is wrong on mobile"
The badge background-color is green when on mobile view and red on desktop view.

As a suggestion I think it should have a preference for green when = 0 and red when > 0.

[2019-10-11 15:00] akiko-pusu commented on #108
@rafaelmartinsrm Thanks for your nice suggestion!
I'm going to take your opinion into account:smile:

[2019-10-11 15:02] akiko-pusu commented on #108
Both mobile and desktop:
 - when no assigned issue / count 0: color = green
 - when has assigned issues / count gt or = to 1: color = red

[2019-10-11 16:05] rafaelmartinsrm commented on #108
It's a good improvement.

[2019-10-19 16:08] vsc55 opened #109 "Wrong version number?"
Hello,
Both on the web "https://www.redmine.org/plugins/redmine_issue_badge", and when checking for updates in the extensions section, it says that the latest version is 0.1.2. But in github when downloading the repository, 0.1.1 appears in both the master and developer branches.
Best regards.

[2019-10-24 18:13] bviktor commented on #107
We're having **constant** issues with users not realizing an issue is awaiting their feedback, so issues are often left untouched for weeks, until they finally ping each other via IM or email or something.

For this very reason, pretty much the whole company started messing around with the assignee field instead - when they want someone's input, they set them as the assignee, so that they don't fo

[2019-10-24 18:19] bviktor commented on #107
Actually, it's almost the same thing as what @koren85 is asking for. With one difference, I'd really prefer a _secondary_ badge instead of replacing the current one.

There could be admin plugin settings to
- enable the second badge
- define the query for the second badge

[2019-10-26 06:13] akiko-pusu commented on #109
Hi, @vsc55
Thanks for your pointing out!
I've just fixed it to the right version at the Redmine plugins directory.
Highly appreciated!

[2019-10-27 07:25] #109 closed

[2019-11-10 11:52] double2ugly opened #110 "Add missing german translation"
Feel free to add the german translation as written below...
I skipped the admin-portion of the translations...

[code]

[2019-11-12 06:26] koren85 commented on #107
we also use the unread issue plugin. Perhaps you will also be useful. and with the custom menu plugin it becomes more convenient to view a list of problems

[2019-11-12 11:53] bviktor commented on #107
Unfortunately that uses some Ruby encoder stuff that's not even compatible with Ruby 2.6 which we're using... I just don't get it why they're so afraid to release their code to the public if it's a free plugin anyway. Also makes me question if I really want to use it, there's some red flags here:

- encrypted source code
- site has incorrectly set up SSL
- uses some "a_common_libs" stuff, which is

[2019-11-12 23:38] akiko-pusu commented on #107
Hi, @koren85 , @bviktor Thanks for your feedback!

Recently I started to use Redmine again, and now I understand this situation and request.

Exp.
- Operators want to know how many issues which are not assigned and must be assigned.
- Issue reporter want to know that there is a issue to reply or not.
and so on.

Personally I feel a little messy if the second badge is also displayed.
So I think use

[2019-11-12 23:40] akiko-pusu commented on #110
@double2ugly Hi, thank you so much for your contribution!
I'm going to apply above soon.
Feedback appreciated!

[2019-11-12 23:43] akiko-pusu commented on #67
related: #107

[2019-11-15 17:01] double2ugly commented on #110
@akiko-pusu perfekt... 😃
Your welcome...

[2019-11-16 14:12] #110 closed

[2019-11-16 14:41] akiko-pusu commented on #108
Hi, @rafaelmartinsrm
I've just merged into the master branch. Thanks for your feedback!

[2019-11-17 19:57] koren85 commented on #107
Returning to  @bviktor message about team interaction. I would like to add that it is very difficult to get feedback from a participant who, for whatever reason, does not view tasks in which he is expected to receive an answer. I am more inclined to the option of forcibly viewing the list of tasks for such participants. Perhaps as a popup on top of all Redmine windows. And exit from the mode by ch

[2019-11-17 20:41] bviktor commented on #107
Currently we "solve" that by assigning the ticket to the one we want feedback from, and once they respond, they assign the ticket back. But it's and extremely stupid and upside down way of solving the problem. I fought against it, but after all, it's been pushed down from the COO level lol...

[2019-11-18 10:29] AizeLeOuf commented on #106
same here with redmine 4.0.5 and current master

[2019-11-18 14:23] #108 closed

[2019-11-23 01:31] akiko-pusu commented on #67
I've just implemented this feature and now merged into develop branch.
Soon I'm going to release new version.

[2019-11-23 01:31] #67 closed

[2019-11-23 01:34] akiko-pusu commented on #107
Hi, @koren85  and @bviktor.

I've just implemented the custom query feature and now merged into develop branch.
(Please see: #115)
I hope this feature meets your request.

[2019-11-23 02:38] akiko-pusu commented on #106
@vongola12324 @AizeLeOuf
Sorry for my delayed reply.
Could you please let me know more detailed your environment?

Such as DB, Plugin you use, Application Server (Unicorn? Passenger?) and Web server.

If my_controller_patch works fine and accepts the request, passed parameters should be logged as following:

https://github.com/akiko-pusu/redmine_issue_badge/blob/20941a7142f0f0262b29da1dbf2a9583d3f

[2019-11-23 06:50] AizeLeOuf commented on #106
The fix was provided in https://github.com/akiko-pusu/redmine_issue_badge/issues/97#issuecomment-525967261

[2019-11-23 09:44] akiko-pusu commented on #106
@AizeLeOuf
Thanks for the above comment! I'll do an additional workaround!

[2019-11-23 10:59] bviktor commented on #107
Thank you, I'll test it out asap!

[2019-11-23 19:58] koren85 commented on #107
thanks in advance! I'll start using it on my team!

[2019-11-23 21:36] koren85 opened #118 "Error after install plugin 502 Bad Gateway"
Hi!

After installation, error 502 occurred. I will start in order:
1. installed the plugin on my redmine
2. after installation, redmine did not work. in the console there were messages
[code]

 Logically suggesting that maybe some plugins are incompatible, I removed all the plugins except redmine_issue_badge.
3) launched redmine and it worked
4) the icon was not displayed. (appeared after enablin

[2019-11-23 23:45] akiko-pusu commented on #118
Hi, thanks for your reporting issue!
Let me confirm:

(1) Do you have any other logs? (Such as unicorn.log)
(2) Did you exec migration task?

exp: ``rake redmine:plugins:migrate``

This plugin needs a table to store user's setting.

And please try these step:

1. Stop your Redmine
2. Uninstall plugin's info from your DB

[code]

3. Recommended: Remove plugin from plugin's directory.
4. Recommended

[2019-11-23 23:58] akiko-pusu commented on #107
@koren85 @bviktor
Sorry, This update is now only applied to the develop branch.
I'm going to release the next version, 0.1.2,  including this feature as soon as possible.

[2019-11-24 05:52] akiko-pusu commented on #107
Merged and released v0.1.2.

[2019-11-24 05:53] #107 closed

[2019-11-24 05:54] akiko-pusu commented on #63
v0.1.2 includes this feature. (Range: 5, 10, 15, 20)

[2019-11-24 05:54] #63 closed

[2019-11-24 05:55] akiko-pusu commented on #106
I've just added the workaround and released v0.1.2.
Please confirm and give feedback!

[2019-11-24 11:30] AizeLeOuf commented on #106
Works like a charm ! Nice feature in 0.1.2 let's try it
FYI, it's me ecedi-ld, I pushed french translation with another account but it's me ;)

[2019-11-24 11:58] akiko-pusu commented on #106
@AizeLeOuf Ok, I'll apply your PR! Thanks again!

[2019-11-24 19:37] koren85 commented on #118
Hi!

I did it step by step.
When Redmine started everything looked good, the plugin displayed the number of tasks. When I opened task number 38622, Redmine broke, I got error 502. Then I tried to open project "project1" and again got the same error. I enclose all available logs.

<details>
  <summary>production.log</summary>

[code]

</details>

<details>
  <summary>unicorn.stderr.log</summary>

[

[2019-11-24 20:35] koren85 commented on #118
I found the cause of the errors, these are the settings
: NGINX_WORKERS: The number of nginx workers to start. Defaults to 1.
: UNICORN_WORKERS: The number of unicorn workers to start. Defaults to 2

I changed the default values ​​as I have problems of low performance:
NGINX_WORKERS = 8
UNICORN_WORKERS = 24

But I could not pick up a single parameter, except by default, under which the plugin woul

[2019-11-25 11:40] akiko-pusu commented on #118
Thanks for your logs and additional info.

It seems the request for issue: 38622 is so slow and the nginx returns 502 error. (Maybe timeout)
If the plugin is removed or disabled, the same request works fine?

[code]

[2019-11-25 16:21] koren85 commented on #118
Maybe. I will try different nginx settings

If the plugin is missing, then everything works fine.

9662ed81652afba37f146e7c8a4df69ddfa5db92

active users about 300

39000

119

[2019-11-25 22:30] akiko-pusu commented on #118
Thanks for above.

1. Could you turn off this setting at the plugin's setting?  ("Display issue badge for all users" is unchecked)
2. When disabled, is the situation the same? Is the rendering of the issue still slow?
3. Please go to the user's profile setting page. You can also enable to show issue badge individually.

Ref. https://user-images.githubusercontent.com/122621/69490435-1fa0c000-0ecb-1

[2019-11-25 23:45] akiko-pusu commented on #118
The request ``GET "/issue_badge"`` is pretty slow.
I've confirmed through my Chrome's Developer Tool.

This feature just returns the issue number, but I do think the response, especially rendering is too slow.  (Partial rendering is slow)

<img width="862" alt="response" src="https://user-images.githubusercontent.com/122621/69586766-f432e800-1026-11ea-9e03-a9f280e030d5.png">

Before version 0.1.2

[2019-11-26 05:32] vongola12324 commented on #106
@akiko-pusu Sorry for replying so late, there was too much work last week. 😢
It looks like the function is working properly. Hurray!! 🎉

BTW, It seems you have tagged wrong id on release message.
My id is vongola12324, not Vongola. 🤣

[2019-11-27 14:41] #106 closed

[2019-11-29 19:17] koren85 commented on #118
1. Ok

2. Yes

yes

the plugin works without errors when the settings are as follows:
nginx workers = 1
unicorn workers = 1
in other cases, regardless of the plugin settings, errors occur

![screen](https://user-images.githubusercontent.com/27845271/69886797-c7b3f000-12f4-11ea-86bd-b24e5c43bb2f.png)

[2019-12-04 12:10] akiko-pusu commented on #118
I have never seen the above environment variables. Do you use GitLab and run Redmine under the same machine?

[2019-12-05 17:21] kenji21 commented on #91
sorry for late reply, upgraded to 0.1.2 today 💪

[2019-12-10 07:22] koren85 commented on #118
Hi!

These are the variables available for the sameersbn / docker-redmine container.
customization
NGINX_WORKERS = 2;
UNICORN WORKERS = 2 slows down Redmine
My host server:
CPU (s) 12 x Intel (R) Core (TM) i7-8700K CPU @ 3.70GHz
RAM 64 Gb

[2019-12-15 01:36] akiko-pusu commented on #118
@koren85
Hi, thanks for your additional info and sorry for my delayed reply.

I'm not sure I could fix this problem completely, but I've applied some workaround for performance issue.
Could you checkout (clone) from the develop branch and try to apply it?
 (commit 2529d1fdd / #129)

[2019-12-16 23:11] akiko-pusu commented on #118
Above update was merged into master.

[2020-01-07 14:36] akiko-pusu commented on #118
I'm going to close this issue.
@koren85 Please re-open or create new issue if you still have any problems.

[2020-01-07 14:36] #118 closed

[2020-01-17 16:19] yousefchtourou opened #131 "how to upgrade"
how to upgrade from 0.0.6 to 0.1.3

[2020-01-19 12:29] double2ugly opened #132 "New german translation"
I just updated to v0.1.3 and found a new variable which needs to be localized...:
label_use_custom_query: Benutzerdefinierte Abfrage

[2020-01-23 14:00] akiko-pusu commented on #131
@yousefchtourou
Hi, thanks for using my plugin!
Do you use Redmine 4.x?
You can update by following this step.
https://github.com/akiko-pusu/redmine_issue_badge#plugin-installation

- git clone or download plugin's source code from here:
  - https://github.com/akiko-pusu/redmine_issue_badge/releases/tag/0.1.3
- Store plugin's source code under your Redmine's plugins/ directory.

Then, run the migr

[2020-01-23 14:01] akiko-pusu commented on #132
Hi, thanks for reporting the translation request!
I'm going to apply soon!

[2020-01-23 22:55] akiko-pusu commented on #132
I've just applied above! Thanks!

[2020-01-23 22:55] #132 closed

[2020-02-04 22:22] #131 closed

[2020-04-04 11:57] ji8812 commented on #91
plugin not workin in redmine docker version 40.6 or 4.1.0

i tried all 0.1.0 0.1.2 0.1.3 all not working :(

[2020-04-06 05:42] kenji21 commented on #91
so this might be considered as a new issue @ji8812 , can you provide some error message in log files ?

[2020-04-06 05:51] ji8812 commented on #91
it seems your plugin is not compatible with redmine 4.1.0 docker

[2020-04-06 10:03] ji8812 commented on #91
can you adjust your plugin for 4.1.0 redmine docker

[2020-04-06 10:24] ji8812 commented on #91
send me the link here to download

[2020-04-06 10:25] bviktor commented on #91
Can you please open a separate ticket for your issue, @ji8812 ?

[2020-04-06 10:27] ji8812 opened #134 "Issue badge plugin not workingwith Redmine 4.1.0 docker"
Hello

It seems all the version of the plugin is not working with 4.x and above on docker

can you investigate

version 3.4.13 is workingfine

[2020-04-08 11:38] akiko-pusu commented on #134
Hi, @ji8812 Thanks for trying my plugin.
Could you let me know more about your environment?

- Docker image that you use
  - Pulled image from DockerHub?
  - Image that build by yourself? (with using Dockerfile?)

[2020-04-08 11:40] ji8812 commented on #134
hello i use docker compose no docker file

plugin is outside the container mounted in a volume to the redmine

[2020-04-08 22:43] akiko-pusu commented on #134
OK, could you show me the docker compose file?
And, could you give me some more detailed information?

Above information is too little to support.
Are there any error information on your browser?
Any errors are recorded on your rails log?

[2020-04-09 05:04] ji8812 commented on #134
version: '3.1'
services:
  redmine:
    image: redmine
    container_name:
    restart: always
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 2048M
    ports:
      - 8061:3000
    volumes:
      - /mnt/disk/tracker/plugins:/usr/src/redmine/plugins
      - /mnt/disk/tracker/themes:/usr/src/redmine/public/themes
      - /mnt/disk/tracker/vendor:/usr/src/redmine

[2020-04-09 07:47] akiko-pusu commented on #134
I think you have to run rails redmine:plugis:migrate.
Please see your production.log.  You can get more detailed error information.

[2020-04-09 07:49] ji8812 commented on #134
hi

rails is in the container , i dont get error 500 with version 3.4.13 only 4.X

[2020-04-09 12:02] akiko-pusu commented on #134
Thansk again. Above information is too little to support.
So I can't help any more.
Could you please attach at least a screenshot?
Also please send some production.log message.

Here is a common template to report bug. If you give me more detailed information,  I might support more effectively.

## Summary

## Description

## Environment

These informations are greatly helpful to support quickly.

[2020-04-09 12:36] ji8812 commented on #134
Redmine version                4.1.0.stable
  Ruby version                   2.6.5-p114 (2019-10-01) [x86_64-linux]
  Rails version                  5.2.4.1
  Environment                    production

Redmine plugins:
  easy_gantt                     1.12
  redmine_agile                  1.5.3 with new patch for filter
  redmine_lightbox2              0.5.1

OS Platform debian 9
Database (MariaDB

[2020-04-09 12:47] ji8812 commented on #134
Redmine::PluginNotFound: Plugin not found. The directory for plugin redmine_issue_badge should be /usr/src/redmine/plugins/redmine_issue_badge.
redmine_1  | /usr/src/redmine/lib/redmine/plugin.rb:102:in `register'
redmine_1  | /usr/src/redmine/plugins/redmine_issue_badge-0.1.0/init.rb:39:in `<top (required)>'
redmine_1  | /usr/local/bundle/gems/activesupport-5.2.4.2/lib/active_support/dependencies

[2020-04-09 13:52] akiko-pusu commented on #134
Ok, above information is enough.

Then, please **see** README.

Each plugin's directory name must be the same to the name defined at init.rb.
So, you have to store my plugin as "redmine_issue_badge".

That's all.

Ref. https://github.com/akiko-pusu/redmine_issue_badge#plugin-installation

[code]

[2020-04-09 14:37] ji8812 commented on #134
done that as well can you please try

[2020-04-09 23:10] akiko-pusu commented on #134
Did this solve the problem? I'm going to close this issue.

Please note: Not only my plugin but also other plugin's directory name must be the same to the name defined at ``init.rb``. If other plugin's directory does not follow the rule, an error will be remaining.

Also when you update some plugins, migration or bundle install will be required according to its README or release note.

[2020-04-10 03:24] ji8812 commented on #134
Hello

The problem is still here, as per documentation i just paste/clone the plugin in the directory and docker-compose up as i did for the other plugin.

Vers3.4.x is fine but not 4.x :(

So the issue isnot solve

[2020-04-10 09:15] akiko-pusu commented on #134
If you store my plugin as ``redmine_issue_badge-0.1.0``, above error is still remaining.
yo have to remane the directory as ``redmine_issue_badge``.

Exp. /mnt/disk/tracker/plugins:/usr/src/redmine/plugins/redmine_issue_badge

After that,  docker-compose down and docker-compose up and look your production.log again.

Sorry I could not support without this logging information.

[2020-04-10 09:17] ji8812 commented on #134
hello

I did rename the plugin as you mention before

[2020-04-10 09:18] ji8812 commented on #134
even on a fresh install with just that plugin i get error 500 :(

[2020-04-10 10:13] akiko-pusu commented on #134
Please give me your production.log. Error message is quite important to support.
Without this, I can't support and I'm going to close this issue.

If you can't provide more detailed info, I recommend you not to use my plugin.

[2020-04-10 12:45] ji8812 commented on #134
![image](https://user-images.githubusercontent.com/63150368/78991740-b1435e00-7b4a-11ea-98c4-c42f05ee2546.png)

[2020-04-10 12:47] akiko-pusu commented on #134
redmine_1 | /usr/src/redmine/lib/redmine/plugin.rb:102:in register' redmine_1 | /usr/src/redmine/plugins/redmine_issue_badge-0.1.0/init.rb:39:in <top (required)>'

The above log shows that the plugin is located as "/usr/src/redmine/plugins/redmine_issue_badge-0.1.0/"

I think this depends on your environment.
**Docker volume doesn't seem to be syncing properly.**

You should store my plugin under

[2020-04-10 12:49] ji8812 commented on #134
yes but this is a test env to see your plugin alone

[2020-04-10 12:52] akiko-pusu commented on #134
I say again. This is because you do not install the plugin correctly.

[2020-04-10 12:52] #134 closed

[2020-04-10 12:53] ji8812 commented on #134
ok can you show me how to do it on versi0n 4

[2020-04-27 12:53] bviktor commented on #63
Thanks a lot!

[2020-04-27 12:53] bviktor commented on #67
Awesome, thank you!

[2020-06-26 07:08] kenji21 commented on #91
Just updated to 4.1.1, no issue

[2020-07-06 15:46] bviktor opened #136 ""..." button doesn't work in badge dropdown"
There used to be an "Issues assigned to me" (or something like that) link in the badge dropdown when there were more issues than the max issues displayed. Now there's only a "..." text, but there's no link to click on anymore so we're unable to show all the issues, unless manually performing an issue query.

[code]

[2020-07-08 07:32] akiko-pusu commented on #136
Hi, thanks for the reporting issue. I'll confirm it.

[2020-07-09 01:32] akiko-pusu commented on #136
I've just confirmed this bug and fixed on commit: https://github.com/akiko-pusu/redmine_issue_badge/pull/137
Soon I'm going to merge into master and release a new version.

Thanks for your reporting!

[2020-07-09 04:17] akiko-pusu commented on #136
"..." is not a button and you can go to more issues by clicking the bottom icon named "assigned to me".

<img width="342" alt="fixed" src="https://user-images.githubusercontent.com/122621/86996398-87034a00-c1e6-11ea-8dcd-740604afaca0.png">

[2020-07-09 14:51] bviktor commented on #136
Awesome, thanks a lot! Can't wait for the next release :)

[2020-07-09 23:29] akiko-pusu commented on #136
Released v0.1.4.
https://github.com/akiko-pusu/redmine_issue_badge/releases/tag/0.1.4

Thanks a lot! Wish you the best!

[2020-07-11 10:02] #136 closed

[2020-07-20 17:13] bviktor commented on #136
Awesome, just deployed on our prod instance, works fine. Thanks a lot for the quick resolution!